@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400&family=Red+Hat+Display:wght@500;700;900&family=Roboto:wght@300;400&display=swap');
body{
    margin: 0;
    padding: 0;
    background-image: url(images/pattern-background-desktop.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color:hsl(225, 100%, 94%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    margin-top:0px ;
}
.shark_container{
    background-color: white;
    margin: 0px;
    height: auto;
    width: 450px;
    border-radius: 18px;
    padding: 0%;
}
.shark_img img{
    padding: 0px;
    margin: 0;
    border-radius: 18px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.shark_h1_p1{
    text-align: center;
    padding: 70px;
    margin-top:-50px;
}
.shark_h1_p1 h1{
    font-weight: bolder;
}
.shark_h1_p1 p{
    font: weight 300px;
    color:hsl(245, 28%, 63%);
}
.shark_box{
    display: flex;
    gap: 20px;
    margin-top: -15%;
    margin-bottom: 7%;
    height: auto;
    width: 370px;
    justify-content: center;
    margin: left 20%;
}
.shark_box img{
    height: 55px;
    width: 55px;
    margin-top: 5%;
    margin-left: 8%;
}
.shark_change{
    margin-top: 8%;
    margin-left: 20%;
}
.sharkeko{
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
    height:100px;
}
button{
    background-color: rgb(44, 0, 188);
    color: white;
    text-decoration: none;
    border-radius: 11px;
    margin-left: 40px;
    width: 372px;
    height: 55px;
    border: none;
    margin-top: 35px;
    box-shadow: 0 0 14px rgba(0, 54, 216, 0.439);
}
button a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 18px;
}
button:hover{
    background-color: rgb(144, 100, 255);
}
.shark_cancel_order{
    font-weight: bold;
    color: hsl(245, 28%, 63%);
    text-align: center;
    margin: 30px;
    padding-bottom: 50px;
}
.shark_cancel_order:hover{
    color: rgb(71, 71, 71);
}
.shark_p__2{
    font-weight: bold;
}
.shark_p__3{
    color: hsl(245, 28%, 63%);;
}
.shark_change a{
    color: rgb(95, 0, 229);
    font-weight: bold;
}
.shark_change a:hover{
    text-decoration: none;
    color: rgb(134, 85, 202);

}